@import "../../../../components/MultipleSelectMode/index.less";

.containor {
    margin       : 20px auto;
    width        : 900px;
    // background: #fff;
    min-height   : calc(~'100vh - 171px');

    .gpline {
        border-bottom: 1px solid rgb(235, 237, 240);
        line-height  : 40px;
        padding-left : 24px;
        background   : #fff;

        .title {
            font-size: 16px;
            color    : rgba(0, 0, 0, .65);
        }

        .content {
            margin-left: 17px;
            color      : rgba(127, 127, 127, .65);
            font-size  : 12px;
        }

        .link {
            float       : right;
            margin-right: 24px;
        }
    }

    .body {
        min-height: 140px;
        background: #fff;
        padding   : 10px 24px;
    }

    .userItem {
        background-color: #F3F6FC;
        display         : inline-block;
        padding         : 3px 6px;
        margin-left     : 10px;
        margin-top      : 5px;
    }

    .userAvtar {
        background-color: #87d068;
    }

    .topTitle {
        padding-top: 15px;
        font-size  : 16px;
    }
}

.extraButton {
    position: absolute;
    top     : 80px;
    right   : 20px;
}

.save {
    position: absolute;
    top     : 80px;
    right   : 30px
}