.title {
  font-weight: bold;
  font-size: 18;
}

.item_title {
  font-weight: bold;
  font-size: 16;
}

.item_warper {
  position: relative;
  margin: 5px 10px;
}

.item_inputbox {
  margin-top: 5px !important;
  border: 1px solid #c2c2c2;
  border-radius: 5px !important;
  width: 100% !important;
  background: white !important;
}

.group_item {
  line-height: 1.5rem !important;
  border-bottom: 1px solid #c2c2c2;
}

.other_item {
  line-height: 1.5rem !important;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.sign-image {
  width: 100px;
  height: 50px;
  border: 1px solid #c2c2c2;
  object-fit: contain;
}
